Body {
    Background:url("https://i.pinimg.com/564x/5e/42/7c/5e427cd35a0e887c15136b8b8469be72.jpg");
    background-size: cover;
    }
    
    
    .chaitu
              {
                  font-family:Comic Sans MS ; 
                   font-size: 17pt;         
                   font-style:italic; 
                   font-weight: bold; 
                   color:darkmagenta;
                   text-align: center; 
                   text-decoration:dashed;
    
    
    }